/*1. FONTES EM GERAL: */
@font-face {
  font-family:"Gotu";
  src: url(../fontes/Gotu/Gotu-Regular.ttf);
}

@font-face {
font-family:"Graduate";
src: url(../fontes/Graduate/Graduate-Regular.ttf);
}

@font-face {
font-family:"Hanuman";
src: url(../fontes/Hanuman/Hanuman-Regular.ttf);
}

/*2. CORPO:*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #DFF0FF;
}

/*3. MENU*/
#retangulo_fundo {
  max-width: 1400px;
  margin: 0 auto;
  padding: -5.5%;
  background-color: black;
}

/*4. DADOS DO MENU*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

  /*4.1 Texto: Butantã*/
  nav #butantã {
    padding: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 35px;
    font-family: "Graduate", Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-color: #1A0065;
  }

  nav #butantã a {
    color: white;
    text-decoration: none;
  }

  /*4.2 Listas*/
  nav ul {
    list-style: none;
  }

  nav ul li {
    display: inline-block;
    font-family: "Gotu", Arial, Helvetica, sans-serif;
  }

  /*4.3 Links*/
  nav ul li a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 30px;
    transition: 0.6s;
  }

/*5. CONTEÚDO*/
main h1 {
  padding-top: 20px;
  text-align: center;
  font-size: 40px;
  font-family: "Graduate", Arial, Helvetica, sans-serif;
  color: #4200FF;
}

main h2 {
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
    font-family: "Graduate", Arial, Helvetica, sans-serif;
    color: #4200FF;
}

main p {
  width: 95vw;
  margin: 40px auto 0px 20px;
  margin-bottom: 20px;
  padding: 40px;
  justify-items: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  font-family: "Hanuman", Arial, Helvetica, sans-serif;
  background-color: #D9D9D9;
  box-shadow: 10px 10px 1px #000000;
}

main p a {
    color: #1A0065
}

  /*5.1 Imagens*/
  main ul li img {
    max-width: 500px;
    height: 100%;
    margin-top: 20px;
    box-shadow: 10px 10px 1px #C8B5FF;
    margin-left: 30%;
  }
  
  /*5.2 Escolas*/
  #escola {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  #escola iframe {
    margin-top: 20px;
    width: 30%;
    box-shadow: 10px 10px 1px #C8B5FF;
  }

/*6. FOOTER*/
footer {
  width: 100%;
  min-height: 40vh 100%;
  margin: auto;
  position: absolute;
  text-align: center;
  background-color: black;
}

  /*6.1 Tag's P*/
  footer #criadora {
    margin: auto;
    text-align: center;
    font-size: 30px;
    font-family: "Gotu", Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
  }

  footer p {
    font-family: "Gotu", Arial, Helvetica, sans-serif;
    color: white;
  }

  /*6.2 Tag A*/
  footer ul li a {
    display: inline-block;
    font-size: 16px;
    color: white;
  }

/*7. HOVER*/
  /*7.1 Tag Nav*/
  nav #butantã:hover{
    background-color: #2D469F;
  }

  nav ul li a:hover {
    background-color: #2D469F;
  }

  /*7.2 Tag Main*/
    main p a:hover{
        color: white;
        background-color: #2D469F;
    }
    
  /*7.3 Tag Footer*/
  footer ul li a:hover {
    color: #8ac8ff;
  }

  footer ul li a:active {
    color: #b9a2ff;
  }